body {
    margin: 1.5em;
    font-family: 'DM Sans';
}
*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-size: 1.3em;
}
.hero-img {
    svg {
        top: 0;
        left: 0;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        //cursor: pointer;
        overflow: hidden;
    }   
}
nav {
    //display: none;
    position: fixed;
    display: flex;
    right: 0;
    top: 0;
    background: rgba(255, 176, 0, 1);
    height: 100vh;
    width: 100%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;
        a {
            color: black;
            padding: .75em 2em;
            display: block;

            &:hover {
                //background: rgba(255, 134, 1, 1);
            }

        }
        .installBtn {
            background-color: #ffffff;
            border: none;
            color: rgb(255, 255, 255);
            padding: 0.75em 3.25em;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            background: linear-gradient(90deg, #FF8601 0%, #FF8801 41.32%, #FF9001 61.74%, #FF9D01 77.57%, #FFB000 90.96%, #FFC100 100%);
            //cursor: pointer;
            border-radius: 12px;
            &:hover {
                background: linear-gradient(90deg, #FFC100 0%, #FFB000  41.32%, #FF9D01 61.74%, #FF9001 77.57%, #FF8801 90.96%, #FF8601 100%);
            }

        }
    }
    .close {
        float: right;
        margin: 2em;
        width: 1.5em;
    }

}
header {
    display: flex;
    justify-content: space-between;
    svg {
        width: 1.5em;
        margin-top: -0.6em;
        cursor: pointer;
    }
}
h1 {
    font-size: 3rem;
    margin-top: 2em;
    line-height: 3.33rem;
}
.subhead {
    font-size: 1.4rem;
}
section.hero {
    color: black;
    height: 90vh;
    button.getStartedBtn {
        background-color: #ffffff;
        border: none;
        color: rgb(255, 255, 255);
        padding: 0.5em 3.25em;
        text-align: center;
        text-decoration: none; 
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        background: linear-gradient(90deg, #FF8601 0%, #FF8801 41.32%, #FF9001 61.74%, #FF9D01 77.57%, #FFB000 90.96%, #FFC100 100%);
        //cursor: pointer;
        border-radius: 12px;
        &:hover {
            background: linear-gradient(90deg, #FFC100 0%, #FFB000  41.32%, #FF9D01 61.74%, #FF9001 77.57%, #FF8801 90.96%, #FF8601 100%);
        }
            
    }
    button.demoBtn {
        background-color: #ffffff;
        border-style: solid;
        border-color: #f89d3b;
        color: rgb(0, 0, 0);
        padding: 0.4em 2em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        //background: linear-gradient(90deg, #FF8601 0%, #FF8801 41.32%, #FF9001 61.74%, #FF9D01 77.57%, #FFB000 90.96%, #FFC100 100%);
        //cursor: pointer;
        border-radius: 12px;
        &:hover {
            color: rgb(255, 255, 255);
            background-color: #FF8601;
        }
    }
}
.more-info {
    img {
        width: 100%;
        //object-fit: cover;
        //height: 11em;
    }
    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }
    .desc {
        line-height: 1.5rem;
    }
}
.info-card {
    /*.infobackground {
        top: 0;
        left: 0;
        position: absolute;
        width: 100vw;
        height: 100vh;

        z-index: -1;
        //cursor: pointer;
        overflow: hidden;
    }*/
    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;
    }
    img {
        display: flex;
        //justify-content: space-between;
        padding: 3em;

    }
        
}
.open-nav {
    transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
    body {
        margin: 1.5em 3em;
        font-family: 'DM Sans';
    }
}
@media only screen and (min-width: 920px) {
    .menu {
        display: none;
    }
    body{
        margin:0px;
    }
    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        transform: translateX(0);
        position:absolute;
        top:0px;
        justify-content: center;
        align-items: center;
        padding:12px;
        height:80px;
        background: none;
    }
    nav {

        a{
            flex:1;
            align-self: flex-start;
        }
        ul {
            
            display: flex;
            flex:3;
            padding:0px;
            justify-content: flex-end;
            align-items: center;
            margin-top:0px;
            a {
                color: black;
                padding: .5em 1.5em;
                font-size: 0.9rem;
                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
    
        }
    }

    nav a img{
        width:50%;
    }
    
    svg.close {
        display: none;
    }
    .hero-img{
        display: none;
    }
    .wrapper{
        width:100%;
    }
    section.hero{
        display: flex;
        width:100%;
        height:100vh;
        background-image: url('images/vector_1.png');
        background-size:cover;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    section.hero div{
        width: 40%;
        img{
            width:100%;
        }
        
    }

    .feature {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center ;
        height:80vh;

        img {
            width: 40%;
        }
        .content {
            text-align: right;
            width: 25em;
            
    
        }
    } 
 
    
    .feature.left {
        display:flex;
        fle
        img {
            grid-area: left;
        }
        .content {
            text-align: left;
            width:  25em;
            justify-self: left;
        }
    }
    #info-card{
        display:flex;
        flex-direction: column;
        width:100%;
        justify-content: center;
        align-items: center;
        background-image: url('images/pricing_bg.png');
        background-size: cover;
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 0;
            margin-top: 0px;
            img{
                margin-left:20px;
            }
        }

        
    }

}